.MainMap {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #242424;
    overflow: hidden;
}

.leaflet-tile-pane {
    filter: grayscale(20%) brightness(0.7);
}
.leaflet-container {
    height: 100% !important;
    width: 100% !important;
    background-color: #242424 !important;
}

.end-dot {
  background-color: #bb1010;
  border: 2px solid white;
  border-radius: 50%;
}

.current-dot {
  background-color: #f9b14c;
  border: 2px solid white;
  border-radius: 50%;
}

.start-dot {
  background-color: #2ab849;
  border: 2px solid white;
  border-radius: 50%;
}

.available-dot {
  background-color: #646262;
  border: 2px solid white;
  border-radius: 50%;
}